{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="about-block">
        <h1>О проекте</h1>
        <div class="about-box">
            <article class="about-block_text">
                <p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Вопроса безорфографичный дороге залетают lorem, родного от всех маленький свой. Толку, агентство языком. Если, путь снова.</p>
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Мир она строчка от всех бросил ручеек несколько сих маленький, снова что которой! Всемогущая свой вопроса семантика последний его путь маленький.</p>
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Несколько до его необходимыми рекламных вопрос встретил дороге? Свой, океана.</p>
            </article>
            <div class="about-box_img">
                <img src="{% static 'images/about-image.jpg' %}" alt="О нас">
            </div>
        </div>
    </section>
{% endblock %}